textstat
nltk
reportlab
matplotlib
google-genai
google-generativeai
google-search-results
streamlit
requests
beautifulsoup4
pdfplumber
sentence-transformers
scikit-learn
numpy==1.26.4
spacy==3.7.4
torch
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
en-core-web-sm
python-docx